header {
  background-color: #014585;
  font-family: Arial, Helvetica, sans-serif;
}

header p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: white;
}
header h5 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(225, 228, 50);
}
body {
  font-family: "Times New Roman", Times, serif;
  background-color: white;
}

.putih {
  font-family: "Times New Roman", Times, serif;
  color: whitesmoke;
}

.putih a {
  font-family: "Times New Roman", Times, serif;
  color: whitesmoke;
}
.navbar-fixed {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
}

nav a {
  font-family: "Times New Roman", Times, serif;
  font-size: xx-large;
  font-weight: bold;
}
nav ul li a {
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  font-weight: 600;
}

[data-theme="dark"] {
  background-color: #111 !important;
  color: #eee;
}

[data-theme="dark"] .bg-black {
  background-color: #fff !important;
}

[data-theme="dark"] .bg-dark {
  background-color: #eee !important;
}

[data-theme="dark"] .bg-light {
  background-color: #222 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
}
@media only screen and (max-width: 600px) {

  .col-8 {
    display: flex;
    width: 100%;
    max-width: 100%;
  }

  .col-4 {
    display: none;
  }
}
